streamlit
pandas
openpyxl
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
plotly
PyJWT
cryptography
requests
qrcode
Pillow
python-dateutil
pytz
streamlit-camera-input-live
pyzbar
opencv-python-headless
  
